body {
    background-image: url("img/bankomat.jpg") !important;
    background-size: cover;
    color:whitesmoke;
}

.container {
    margin-left: 240px;
    margin-top: 150px;
    background-color:blue;
    height: 400px;
    width: 600px;
}
